.bg-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

@mixin blurBgLayer ($top, $size, $bgColor) {
    position: absolute;
    top: $top;
    width: $size;
    height: $size;
    filter: blur(50px);
    background-color: $bgColor;
    border-radius: 50%;
    opacity: 0.1;
}

// @mixin mainBanner ($width, $height) {
@mixin mainBanner () {
    width: 100%;
    // max-width: $width;
    // max-height: $height;
    object-fit: cover;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
}

@mixin iconBg($bgColor) {
    content: "";
    width: 15.7px;
    height: 15.7px;
    position: absolute;
    top: 10px;
    left: -5px;
    border-radius: 50%;
    z-index: -1;
    background-color: $bgColor;
}

.imgs-box {
    width: fit-content;
    position: relative;
    margin: auto;
}

.ellipse {
    position: absolute;
    border-radius: 50%;
    box-shadow: $ellipse-shadow;
}

%centerItem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%resetList {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

header.main-header {
    text-align: center;

    h2 {
        font-family: 'Gilroy SemiBold';
        color: $main-color;
        text-transform: uppercase;
    }

    h3 {
        font-family: 'Gilroy Medium';
        color: #000;
        margin-bottom: 20px;
    }

    p {
        font-family: 'Avenir Roman';
        font-size: 15px;
        font-weight: 500;
        line-height: 2.36;
        color: #000;
    }
}

header.sub-header {
    h4 {
        font-family: 'Gilroy Medium';
        font-size: 16.7px;
        color: #000;
    }

    p {
        font-family: 'Avenir Book';
        font-size: 13.6px;
        line-height: 1.84;
        color: #000;
    }
}

button {
    height: 56px;
    font-family: 'Gilroy Medium';
    font-size: 16.7px;
    transition: all 0.3s ease-in-out;

    &:focus-visible {
        outline: none;
    }

    &.main-btn {
        color: #fff;
        background-color: $main-color;
        border: 1px solid $main-color;
        border-radius: 5px;
        padding-right: 1.5rem;
        padding-left: 1.5rem;

        &:hover {
            color: $main-color;
            background-color: transparent;

        }
    }

    &.secondary-btn {
        color: $main-color;
        background-color: transparent;
        border: none;
    }
}