@media (min-width: 640px) {
    .solutions .carousel-box {
        margin-right: -150px;

    }
}

@media (min-width: 768px) {
    header.main-header {
        h2 {
            font-size: 18.8px;
            letter-spacing: 1px;
        }

        h3 {
            font-size: 48px;
            line-height: 1.25;
        }
    }

    .home {
        .people {
            text-align: start;

            span.visits {
                display: inline;
                margin-left: 20px;
            }
        }
    }

    .visions {
        .pale-bg .ellipse {
            &.one {
                transform: scale(0.75) translate(0%, -30%);
            }

            &.two {
                transform: scale(0.75) translate(20%, 100%);
            }

            &.three {
                transform: scale(0.75) translateY(40%);
            }

            &.four {
                transform: scale(0.75) translate(25%, -90%);
            }
        }
    }

    .environment {
        padding-top: $gutter;
        padding-bottom: $gutter;

        .environment-grid {
            grid-template-areas:
                "header header header"
                "banner banner ."
                "banner banner buttons"
                "banner banner .";
            column-gap: calc($gutter / 2);

            .main-banner {
                width: 75%;
            }
        }
    }

    .updates {
        .updates-grid {
            .update {
                grid-template-areas: "pic content ";
                grid-template-columns: 191px minmax(auto, 317px);

                .update-bg {
                    transform: translate(-20px, -30px);
                }

                .content {
                    padding: 24px 6px 24px 0;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .home {
        h1 {
            font-size: 54px;
            max-width: 474.3px;
            text-align: left;

            &::before {
                left: auto;
                transform: translateX(0);
            }
        }

        .imgs-box {
            .main {
                object-fit: none;
            }

            .ellipse {
                &.one {
                    transform: translate(-58%, -32px);
                }

                &.two {
                    opacity: 1;
                    transform: translateY(200px);
                }

                &.three {
                    opacity: 1;
                    transform: translate(100px, 126px);
                }
            }

            .v-text {
                bottom: 0;
                font-size: 51.2px;
                transform: rotate(180deg) translateX(-12.5px);
            }
        }

        .people {
            transform: translateY(-45px);
        }
    }

    .services {
        .imgs-box {
            .calendar {
                right: -68px;
                bottom: 36px;
            }

            .alarm {
                right: 18px;
                bottom: 114px;
            }
        }

        .buttons {
            margin-bottom: 36px;
            text-align: start;
        }
    }

    header.main-header {
        text-align: start;
    }

    .visions {
        .pale-bg {
            .ellipse {
                &.one {
                    top: -15%;
                    left: 23%;
                    transform: translate(0);
                }

                &.two {
                    top: 85%;
                    left: 0.5%;
                    transform: translate(0);
                }

                &.three {
                    top: 55%;
                    left: 80%;
                    transform: translate(0);
                }

                &.four {
                    right: 0;
                    bottom: 100%;
                    transform: translate(0);
                }
            }
        }

        .bg-layer {
            background-position: 35% 75%;
            background-size: auto;
        }
    }

    .solutions {
        .carousel-box {
            margin-right: -200px;

            .item {
                max-width: 532.8px;
                height: 710.4px;
            }
        }
    }

    .gallery {
        .gallery-grid {
            grid-template-areas:
                "header header header header"
                "square-1 rect-1 rect-1 banner"
                "rect-2 rect-2 square-2 banner";
            grid-template-rows: repeat(3, auto);
            row-gap: calc($gutter / 2);
            column-gap: calc($gutter / 2);
        }
    }

    .environment {
        .environment-grid {
            grid-template-areas:
                "header header header banner banner"
                "header header header banner banner"
                "header header header banner banner"
                "buttons buttons buttons banner banner";
            grid-template-columns: repeat(5, 1fr);
            row-gap: $gutter;
            column-gap: $gutter;

            header.main-header {
                text-align: start;
            }

            .main-banner {
                width: 100%;
            }
        }
    }

    .updates {
        .updates-grid {
            grid-template-columns: repeat(2, 1fr);
            column-gap: $gutter;
        }
    }
}

@media (min-width: 1200px) {
    header.main-header {
        h3 {
            font-size: 52.2px;
            line-height: 1.36;
        }
    }

    .gallery {
        .gallery-grid {
            grid-template-areas:
                "header header header banner"
                "square-1 rect-1 rect-1 banner"
                "rect-2 rect-2 square-2 banner";
            row-gap: $gutter;
            column-gap: $gutter;

            header.main-header {
                text-align: start;
            }
        }
    }
}

@media (min-width: 1366px) {
    .benefits {
        .benefit {
            flex: 1 0 0%;
            width: auto;
        }
    }
}