@media (min-width: 500px) {
    .home {
        .home-grid {
            .main-imgs-box {
                .ellipse {
                    transform: scale(0.75);

                    &.one {
                        top: -15%;
                        right: 16%;
                    }

                    &.two {
                        top: 30%;
                    }

                    &.three {
                        top: 15%;
                        right: 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 640px) {
    .solutions .carousel-box {
        margin-right: -150px;

    }
}

@media (min-width: 768px) {
    header.main-header {
        h2 {
            font-size: 18.8px;
            letter-spacing: 1px;
        }

        h3 {
            font-size: 48px;
            line-height: 1.25;
        }
    }

    button {
        height: 56px;
        font-size: 16.7px;
    }

    .home {
        .home-grid {

            .city-box {
                min-height: 60px;
                font-size: 18.8px;
                margin-top: 0;

                .custom-select {
                    select {
                        font-size: 18.8px;
                    }
                }
            }
        }
    }

    .visions {
        .pale-bg .ellipse {
            &.one {
                transform: scale(0.75) translate(0%, -30%);
            }

            &.two {
                transform: scale(0.75) translate(20%, 100%);
            }

            &.three {
                transform: scale(0.75) translateY(40%);
            }

            &.four {
                transform: scale(0.75) translate(25%, -90%);
            }
        }
    }

    .environment {
        padding-top: $gutter;
        padding-bottom: $gutter;

        .environment-grid {
            grid-template-areas:
                "header header header"
                "banner banner ."
                "banner banner buttons"
                "banner banner .";
            column-gap: calc($gutter / 2);

            .main-banner {
                width: 75%;
            }
        }
    }

    .updates {
        .updates-grid {
            .update {
                grid-template-areas: "pic content ";
                grid-template-columns: 191px minmax(auto, 317px);

                .update-bg {
                    transform: translate(-20px, -30px);
                }

                .content {
                    padding: 24px 6px 24px 0;
                }
            }
        }
    }

    footer {
        .footer-grid {
            grid-template-areas:
                "brand company partnership"
                "social company partnership";
            column-gap: calc($gutter / 2);
            row-gap: calc($gutter / 2);
            justify-items: start;
            text-align: start;

            ul:not(.social-media ul) {
                li {
                    margin-bottom: 20px;

                    a {
                        font-size: 16.7px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    header.main-header {
        text-align: start;
    }

    nav {
        &.navbar-light {
            .navbar-brand {
                top: auto;
            }
        }
    }

    .home {
        .home-grid {
            grid-template-areas:
                ". imgs"
                "h1 imgs"
                ". imgs"
                "city imgs"
                "people imgs";
            grid-template-columns: 39% 61%;

            h1 {
                font-size: 2.5rem;
                text-align: left;
                margin-bottom: 0;
            }

            .main-imgs-box {

                .ellipse {
                    transform: scale(0.75);

                    &.one {
                        top: -20%;
                        right: 5%;
                    }

                    &.two {
                        top: 25%;
                        right: -5%;
                    }

                    &.three {
                        right: -5%;
                    }
                }

                .v-text {
                    font-size: 2.5rem;
                }
            }

            .city-box {
                width: 160%;
            }

            .people {
                text-align: start;

                span.visits {
                    display: inline;
                    margin-left: 20px;
                }

            }
        }
    }

    .services {
        .services-grid {
            grid-template-areas:
                "banner ."
                "banner header"
                "banner ."
                "banner buttons"
                "banner .";
            grid-template-columns: 40% 50%;
            column-gap: 7%;

            .imgs-box {
                width: 100%;

                .calendar {

                    right: -68px;
                    bottom: 36px;
                    // bottom: 36px;
                }

                .alarm {
                    right: 18px;
                    bottom: 114px;
                    // right: 50px;
                    //     bottom: 114px;
                }
            }

            .buttons {
                // margin-bottom: 36px;
                text-align: start;
            }
        }
    }

    .visions {
        .pale-bg {
            .ellipse {
                &.one {
                    top: -15%;
                    left: 23%;
                    transform: translate(0);
                }

                &.two {
                    top: 85%;
                    left: 0.5%;
                    transform: translate(0);
                }

                &.three {
                    top: 55%;
                    left: 80%;
                    transform: translate(0);
                }

                &.four {
                    right: 0;
                    bottom: 100%;
                    transform: translate(0);
                }
            }
        }

        .bg-layer {
            background-position: 35% 75%;
            background-size: auto;
        }
    }

    .solutions {
        .carousel-box {
            margin-right: -200px;

            .item {
                max-width: 532.8px;
                height: calc(100vh - 32px);
            }
        }
    }

    .gallery {
        .gallery-grid {
            grid-template-areas:
                "header header header header"
                "square-1 rect-1 rect-1 banner"
                "rect-2 rect-2 square-2 banner";
            grid-template-rows: repeat(3, auto);
            row-gap: calc($gutter / 2);
            column-gap: calc($gutter / 2);
        }
    }

    .environment {
        .environment-grid {
            grid-template-areas:
                "header header header banner banner"
                "header header header banner banner"
                "header header header banner banner"
                "buttons buttons buttons banner banner";
            grid-template-columns: repeat(5, 1fr);
            row-gap: $gutter;
            column-gap: $gutter;

            header.main-header {
                text-align: start;
            }

            .main-banner {
                width: 100%;
            }
        }
    }

    .updates {
        .updates-grid {
            grid-template-columns: repeat(2, 1fr);
            column-gap: $gutter;
        }
    }

    footer {
        .footer-grid {
            grid-template-areas:
                "brand company partnership social";
            column-gap: calc($gutter * 2);
            grid-template-columns: minmax(auto, 300px) repeat(2, auto) minmax(210px, auto);

            .brand a,
            h2 {
                margin-bottom: 24px;
            }
        }
    }
}

@media (min-width: 1200px) {

    .home {
        .home-grid {
            column-gap: $gutter;

            .main-imgs-box {
                text-align: start;

                .ellipse {
                    &.one {
                        top: -15%;
                        right: 15%;
                    }

                    &.two {
                        top: 25%;
                        right: 5%;
                    }

                    &.three {
                        right: 0;
                    }
                }
            }

            .city-box {
                min-height: 100px;

                .main-btn {
                    height: 56px;
                    padding: 0.5rem 1.5rem;
                }
            }

            h1 {
                font-size: 54px;
            }
        }
    }

    header.main-header {
        h3 {
            font-size: 52.2px;
            line-height: 1.36;
        }
    }

    .gallery {
        .gallery-grid {
            grid-template-areas:
                "header header header banner"
                "square-1 rect-1 rect-1 banner"
                "rect-2 rect-2 square-2 banner";
            row-gap: $gutter;
            column-gap: $gutter;

            header.main-header {
                text-align: start;
            }
        }
    }
}

@media (min-width: 1366px) {
    .benefits {
        .benefit {
            flex: 1 0 0%;
            width: auto;
        }
    }
}

@media (min-width: 1440px) {
    .home {
        .home-grid {
            .main-imgs-box {
                .v-text {
                    font-size: 51.2px;
                    transform: rotate(180deg) translateX(-12.5px);
                }
            }
        }
    }
}