@media (min-width: 768px) {
    .home {
        .people {
            text-align: start;

            span.visits {
                display: inline;
                margin-left: 20px;
            }
        }
    }
}

@media (min-width: 992px) {
    .home {
        h1 {
            font-size: 54px;
            max-width: 474.3px;
            text-align: left;

            &::before {
                left: auto;
                transform: translateX(0);
            }
        }

        .imgs-box {
            .main {
                object-fit: none;
            }

            .ellipse {
                &.one {
                    transform: translate(-58%, -32px);
                }

                &.two {
                    opacity: 1;
                    transform: translateY(200px);
                }

                &.three {
                    opacity: 1;
                    transform: translate(100px, 126px);
                }
            }

            .v-text {
                bottom: 0;
                font-size: 51.2px;
                transform: rotate(180deg) translateX(-12.5px);
            }
        }

        .people {
            transform: translateY(-45px);
        }
    }

    .services {
        .imgs-box {
            .calendar {
                right: -68px;
                bottom: 36px;
            }

            .alarm {
                right: 18px;
                bottom: 114px;
            }
        }

        .buttons {
            text-align: start;
        }
    }

    section header {
        text-align: start;
    }
}