$main-color: #fd5b2f;
$main-grey: #686c75;
$light-grey: #e9e9e9;
$main-lightblue: #47caf3;
$main-yellow: #ffdb80;
$shadow-color: rgba(255, 200, 118, 0.35);
$main-space-width: 476px;
$main-space-height: 690px;