@import "fonts";
@import "variables";
@import "global";

html {
    scroll-behavior: smooth;
}

body {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    overflow-x: hidden;

    .lightblue-bg {
        @include blurBgLayer(-50vh, 100vh);
        right: -50%;
        background-color: $main-lightblue;
    }

    .yellow-bg {
        @include blurBgLayer(-50vh, 100vh);
        left: -50%;
        background-color: $main-yellow;
    }
}

nav {
    &.navbar {
        width: 100%;
        z-index: 9;
    }

    &.navbar-light {
        .navbar-brand {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
            font-family: 'Cera Pro Medium';
            font-size: 29.3px;
            font-weight: 500;
            color: #000;
        }

        .navbar-toggler {
            &:focus {
                box-shadow: none;
            }
        }

        .navbar-nav {
            text-align: center;

            .nav-link {
                font-family: 'Cera Pro Medium';
                font-size: 16.7px;
                text-transform: uppercase;
                color: $main-grey;
            }
        }
    }
}

.home {
    display: grid;
    align-items: center;
    overflow: hidden;
    position: relative;

    h1 {
        font-family: 'Axiforma Bold';
        line-height: 1.15;
        text-align: center;
        color: #000;
        position: relative;

        &::before {
            content: url(../images/home/zigzag-border.svg);
            position: absolute;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .imgs-box {

        .main {
            @include mainBanner(476px, 690px);
            object-position: center -20px;
        }

        .ellipse {
            &.one {
                transform: scale(0.65) translate(-90%, -70%);
            }

            &.two {
                opacity: 0;
            }

            &.three {
                opacity: 0;
            }
        }

        .v-text {
            font-family: 'Axiforma Bold';
            font-size: 2.5rem;
            line-height: 1.31;
            color: #000;
            position: absolute;
            bottom: 1rem;
            transform: rotate(180deg);
            writing-mode: vertical-lr;
            opacity: 0.1;
        }
    }

    .people {
        text-align: center;
        position: relative;

        img:not(:first-child) {
            margin-left: -12px;
        }

        span {
            font-family: 'Avenir Roman';

            &.people-num {
                position: absolute;
                width: 36px;
                height: 36px;
                background-color: #13ded2;
                border: solid 2.1px #fff;
                border-radius: 50%;
                margin-left: -16px;

                &::after {
                    content: "\002B 10";
                    color: #fff;
                    font-size: 10.4px;
                    font-weight: 900;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &.visits {
                display: block;
                font-size: 12.5px;
                color: #000;
            }
        }
    }

    .brands {
        .grey-border {
            width: 110px;
            height: 24px;
            background-color: $main-grey;
        }
    }
}

.services {
    position: relative;
    overflow-x: hidden;

    .imgs-box {

        .main {
            @include mainBanner(450.3px, 653px);
        }

        .calendar {
            position: absolute;
            right: -36px;
            bottom: 36px;
            box-shadow: $light-box-shadow;
        }

        .alarm {
            position: absolute;
            right: 50px;
            bottom: 114px;
            border-radius: 50%;
            box-shadow: $light-box-shadow;
        }
    }

    .buttons {
        text-align: center;

        .secondary-btn {

            i {
                width: 36px;
                height: 36px;
                font-size: 1.5em;
                border: 1px solid $main-color-w-opacity;
                border-radius: 50%;
                text-align: center;
                padding-top: 4px;
                margin-right: 15px;
            }

            span {
                display: inline-block;
                transform: translateY(-4px);
            }
        }
    }

    .circles-bg {
        position: absolute;
        min-width: 276px;
        min-height: 372px;
        top: 0;
        right: 0;
        background-image: url(../images/services/Group-35.svg);
        background-repeat: no-repeat;
    }

    .yellow-bg {
        @include blurBgLayer(100%, 10vh);
        background-color: $main-yellow;
    }
}

.visions {
    padding-bottom: $gutter;
    position: relative;

    .sub-header {
        display: flex;
        padding-bottom: calc($gutter / 2);

        i {
            font-size: 1.25rem;
            position: relative;

            &.one::after {
                @include iconBg(#fcd25f);
            }

            &.two::after {
                @include iconBg(#13ded2);
            }

            &.three::after {
                @include iconBg(#1ac8f9);
            }
        }

        header {
            padding-left: 10px;

            h4 {
                font-family: 'Gilroy Medium';
                font-size: 16.7px;
                color: #000;
            }

            p {
                font-family: 'Avenir Book';
                font-size: 13.6px;
                line-height: 1.84;
                color: #000;
            }
        }
    }

    .main-btn {
        margin-top: $gutter;
        padding-right: $gutter;
        padding-left: $gutter;
    }

    .pale-bg {
        width: 100%;
        max-width: 445.1px;
        height: 353.1px;
        border-top-left-radius: 146.3px;
        background-color: $pale-yellow;
        margin-top: 62px;
        position: relative;
        margin: auto;

        .ellipse {
            &.one {
                transform: scale(0.65) translate(-25%, -45%);
            }

            &.two {
                bottom: 30%;
                transform: scale(0.65) translateY(125%);
            }

            &.three {
                right: -25%;
                transform: scale(0.65) translateY(50%);
            }

            &.four {
                right: 0;
                transform: scale(0.75) translateY(-115%);
            }
        }
    }

    .bg-layer {
        background-image: url(../images/visions/Vector-36.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

.solutions {
    position: relative;

    .carousel-box {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: -50px;

        .item {
            height: 500px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
                object-position: 5%;
            }
        }
    }
}

@import "media-queries";