@import "fonts";
@import "variables";
@import "global";

html {
    scroll-behavior: smooth;
}

body {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    .lightblue-bg {
        @include blurBgLayer(0, 944px, $main-lightblue);
        right: 0;
        transform: translate(25%, -11%);
    }

    .yellow-bg {
        @include blurBgLayer(0, 1172px, $main-yellow);
        left: 0;
        transform: translate(-40%, -35%);
    }

    .loader {
        height: 100vh;
        background-color: #fff;
        z-index: 9;
        display: none;
        opacity: 0;
        transition: all 0.5s ease-in-out;

        &.visible {
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
        }

        span {
            width: 12px;
            height: 12px;
            background-color: $main-color;
            border-radius: 50%;
            display: inline-block;
            animation: 0.5s ease-in-out 0s infinite alternate both snaking;

            &:nth-of-type(2) {
                animation-delay: 0.1s;
            }

            &:nth-of-type(3) {
                animation-delay: 0.2s;
            }

            &:nth-of-type(4) {
                animation-delay: 0.3s;
            }

            &:nth-of-type(5) {
                animation-delay: 0.4s;
            }
        }
    }

    @keyframes snaking {

        0%,
        100% {
            opacity: 1;
            transform: translateY(0);
        }

        50% {
            opacity: 0.3;
            transform: translateY(5px);
        }
    }
}

nav {

    &.navbar-light {
        .navbar-brand {
            position: absolute;
            top: 9px;
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
            font-family: 'Cera Pro Medium';
            font-size: 29.3px;
            font-weight: 500;
            color: #000;
        }

        .navbar-toggler {
            &:focus {
                box-shadow: none;
            }
        }

        .navbar-nav {
            text-align: center;

            .nav-link {
                font-family: 'Cera Pro Medium';
                font-size: 16.7px;
                text-transform: uppercase;
                color: $main-grey;
            }
        }
    }
}

.home {

    .home-grid {
        display: grid;
        grid-template-areas:
            "h1"
            "imgs"
            "city"
            "people";
        row-gap: 28px;
        margin-top: calc($gutter * 2);

        h1 {
            grid-area: h1;
            font-family: 'Axiforma Bold';
            line-height: 1.15;
            text-align: center;
            color: #000;
            position: relative;

            &::before {
                content: url(../images/home/zigzag-border.svg);
                position: absolute;
                top: -60px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .main-imgs-box {
            grid-area: imgs;
            position: relative;
            margin: auto;
            text-align: center;

            .main {
                grid-area: main;
                width: 70%;
                background-image: url(../images/home/main-coworking-space.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                border-top-right-radius: 300px;
                border-top-left-radius: 300px;
                z-index: 1;
            }

            .ellipse {
                transform: scale(0.5);

                &.one {
                    right: -15%;
                    bottom: 40%;
                }

                &.two {
                    top: 30%;
                    right: 65%;
                }

                &.three {
                    top: 15%;
                    right: 70%;
                }
            }

            .v-text {
                font-family: 'Axiforma Bold';
                font-size: 2rem;
                line-height: 1.31;
                color: #000;
                position: absolute;
                bottom: 0;
                transform: rotate(180deg);
                writing-mode: vertical-lr;
                opacity: 0.1;
            }
        }

        .city-box {
            grid-area: city;
            width: 75%;
            height: 45px;
            background-color: rgba(243, 243, 243, 0.6);
            -webkit-backdrop-filter: blur(35.5px);
            backdrop-filter: blur(35.5px);
            border-radius: 5.2px;
            margin: auto;
            z-index: 3;
            font-family: 'Cera Pro Medium';
            font-size: 18.8px;
            color: $warm-grey;

            .custom-select {
                padding-left: 1rem;
                position: relative;

                &::before {
                    content: "\f3c5";
                    position: absolute;
                    font-family: "Font Awesome 6 Free";
                    font-weight: 900;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $warm-grey;
                }

                select {
                    width: 100%;
                    font-family: 'Cera Pro Medium';
                    font-size: 18.8px;
                    color: $warm-grey;
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    appearance: none;
                    padding: 8px 0 8px 24px;

                    &:focus-visible {
                        outline: none;
                    }
                }
            }

            .main-btn {
                height: fit-content;
                padding: 0.3rem 0.5rem;
            }
        }

        .people {
            grid-area: people;
            text-align: center;

            img:not(:first-child) {
                margin-left: -12px;
            }

            span {
                font-family: 'Avenir Roman';

                &.people-num {
                    position: absolute;
                    width: 36px;
                    height: 36px;
                    background-color: #13ded2;
                    border: solid 2.1px #fff;
                    border-radius: 50%;
                    margin-left: -16px;

                    &::after {
                        content: "\002B 10";
                        color: #fff;
                        font-size: 10.4px;
                        font-weight: 900;
                        @extend %centerItem;
                    }
                }

                &.visits {
                    display: block;
                    font-size: 12.5px;
                    color: #000;
                    margin-left: 0;
                }
            }
        }
    }

    .brands {
        .grey-border {
            width: 110px;
            height: 24px;
            background-color: $main-grey;
        }
    }

    .map-outer {
        position: relative;
        text-align: right;
        height: 300px;
        width: 300px;
    }

    .location-canvas {
        overflow: hidden;
        background: none !important;
        height: 300px;
        width: 300px;
    }

    >.bg-layer {
        height: 150vh;
        bottom: auto;
    }
}

.services {
    position: relative;
    overflow-x: hidden;
    padding-top: $gutter;
    padding-bottom: $gutter;

    .services-grid {
        display: grid;
        grid-template-areas:
            "header"
            "banner"
            "buttons";
        row-gap: calc($gutter / 2);

        .imgs-box {
            grid-area: banner;
            width: 75%;

            .main {
                @include mainBanner();
            }

            .calendar {
                position: absolute;
                width: 90px;
                right: -36px;
                bottom: 10px;
                box-shadow: $light-box-shadow;
            }

            .alarm {
                position: absolute;

                width: 45px;
                right: 30px;
                bottom: 80px;
                border-radius: 50%;
                box-shadow: $light-box-shadow;
            }
        }

        header.main-header {
            grid-area: header;
        }

        .buttons {
            grid-area: buttons;
            // text-align: center;

            .secondary-btn {

                i {
                    width: 36px;
                    height: 36px;
                    font-size: 1.5rem;
                    border: 1px solid $main-color-5;
                    border-radius: 50%;
                    text-align: center;
                    padding-top: 4px;
                    margin-right: 15px;
                }

                span {
                    display: inline-block;
                    transform: translateY(-4px);
                }
            }
        }
    }

    .circles-bg {
        position: absolute;
        min-width: 276px;
        min-height: 372px;
        top: 0;
        right: 0;
        background-image: url(../images/services/circles-bg.svg);
        background-repeat: no-repeat;
    }

    .yellow-bg {

        &.left {
            @include blurBgLayer(50%, 516px, $main-yellow);
            left: 0;
            transform: translate(-25%, -50%);
        }

        &.right {
            @include blurBgLayer(50%, 726px, $main-yellow);
            left: 50%;
            transform: translate(35%, -50%);
        }
    }
}

.visions {
    padding-top: $gutter;
    padding-bottom: $gutter;
    margin-bottom: $gutter;
    position: relative;

    .vision {
        display: flex;
        padding-bottom: calc($gutter / 2);

        i {
            font-size: 1.25rem;
            position: relative;

            &.one::after {
                @include iconBg(#fcd25f);
            }

            &.two::after {
                @include iconBg(#13ded2);
            }

            &.three::after {
                @include iconBg(#1ac8f9);
            }
        }
    }

    header.sub-header {
        padding-left: 10px;
    }

    .main-btn {
        margin-top: $gutter;
        padding-right: $gutter;
        padding-left: $gutter;
    }

    .pale-bg {
        width: 100%;
        max-width: 445.1px;
        height: 353.1px;
        border-top-left-radius: 146.3px;
        background-color: $pale-yellow;
        margin-top: 62px;
        position: relative;
        margin: auto;

        .ellipse {
            &.one {
                transform: scale(0.65) translate(-25%, -45%);
            }

            &.two {
                bottom: 30%;
                transform: scale(0.65) translateY(125%);
            }

            &.three {
                right: -25%;
                transform: scale(0.65) translateY(50%);
            }

            &.four {
                right: 0;
                transform: scale(0.75) translateY(-115%);
            }
        }
    }

    .bg-layer {
        background-image: url(../images/visions/vector.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

.solutions {
    position: relative;

    .carousel-box {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: -50px;

        .item {
            height: 500px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
                object-position: 5%;
            }
        }
    }
}

.benefits {
    padding-top: calc($gutter / 2);
    padding-bottom: calc($gutter / 2);

    .benefit {
        margin-top: calc($gutter / 2);

        header.sub-header {
            margin-top: $gutter;

            h4 {
                font-size: 20.9px;
                margin-bottom: calc($gutter / 2);
            }

            p {
                font-size: 12.5px;
                line-height: 1.99;
            }
        }
    }
}

.gallery {
    padding-top: calc($gutter / 2);
    padding-bottom: calc($gutter / 2);

    .gallery-grid {
        display: grid;
        grid-template-areas:
            "header header header"
            "square-1 rect-1 rect-1"
            "rect-2 rect-2 square-2"
            "banner banner banner";
        grid-template-rows: repeat(3, auto) minmax(auto, 230px);
        row-gap: calc($gutter / 3);
        column-gap: calc($gutter / 3);

        header.main-header {
            grid-area: header;
            text-align: center;
        }

        .square-1 {
            grid-area: square-1;
        }

        .rectangle-1 {
            grid-area: rect-1;
        }

        .square-2 {
            grid-area: square-2;
        }

        .rectangle-2 {
            grid-area: rect-2;
        }

        .main-space {
            grid-area: banner;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.environment {
    padding-top: calc($gutter / 2);
    padding-bottom: calc($gutter / 2);

    .environment-grid {
        display: grid;
        grid-template-areas:
            "header"
            "banner"
            "buttons";
        row-gap: calc($gutter / 2);

        header.main-header {
            grid-area: header;
            text-align: center;
        }

        .buttons {
            grid-area: buttons;
        }

        .main-banner {
            grid-area: banner;
            width: 50%;
            margin: auto;
        }
    }
}

.updates {
    padding-top: $gutter;
    padding-bottom: $gutter;

    .updates-grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 24px;

        .update {
            width: fit-content;
            background-color: #fffafa;
            display: grid;
            grid-template-areas:
                "pic"
                "content";
            justify-items: center;
            margin-top: 48px;
            opacity: 1;
            transition: all 5s ease-in-out;

            &.hidden {
                display: none;
                opacity: 0;
            }

            .update-bg {
                width: 191px;
                height: 191px;
                grid-area: pic;
                background-image: url(../images/updates/update.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                transform: translateY(-20px);
                position: relative;

                &::after {
                    content: url(../images/updates/Path-1.svg);
                    @extend %centerItem;
                }
            }

            .content {
                grid-area: content;
                padding: calc($gutter / 2);

                header.sub-header {
                    h4 {
                        font-family: 'Gilroy SemiBold';
                        font-size: 14px;
                        letter-spacing: 0.74px;
                        color: $main-color;
                        text-transform: uppercase;
                    }

                    h5 {
                        font-family: 'Gilroy SemiBold';
                        font-size: 18.8px;
                        letter-spacing: 1px;
                        color: #000;
                        text-transform: capitalize;
                    }

                    p {
                        font-family: 'Avenir Roman';
                        font-size: 16px;
                        line-height: 1.75;
                        color: #7a7878;
                        transition: all 0.3s ease-in-out;

                        &.hide-overflow {
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }

                .secondary-btn {
                    height: fit-content;
                    font-family: 'Gilroy SemiBold';
                    font-size: 16px;
                    letter-spacing: 0.85px;
                }
            }
        }
    }

    .main-btn {
        display: block;
        padding-right: 2rem;
        padding-left: 2rem;
        margin: 3rem auto;
    }

    .loader {
        width: fit-content;
        height: auto;
        margin: 3rem auto 0;
    }
}

footer {
    padding-top: $gutter;
    padding-bottom: $gutter;
    position: relative;

    .footer-grid {
        display: grid;
        grid-template-areas:
            "brand brand"
            "company partnership"
            "social social";
        column-gap: calc($gutter / 3);
        row-gap: calc($gutter / 3);
        justify-items: center;
        text-align: center;

        .brand {
            grid-area: brand;

            a {
                font-family: 'Cera Pro Medium';
                font-size: 29.3px;
                color: #000;
                text-decoration: none;
                display: block;
                margin-bottom: 10px;
            }

            p {
                font-family: 'Gilroy Regular';
                font-size: 16.7px;
                line-height: 1.85;
                color: #000;
            }
        }

        .company {
            grid-area: company;
        }

        .partnership {
            grid-area: partnership;
        }

        .social-media {
            grid-area: social;

            ul {
                li {
                    width: 41.8px;
                    height: 41.8px;
                    background-color: #fff;
                    border-radius: 50%;
                    margin-right: 7px;
                    display: inline-block;
                    position: relative;
                }

                a {
                    color: $main-color;
                    @extend %centerItem;
                }
            }
        }

        h2 {
            font-family: 'Gilroy SemiBold';
            font-size: 20.9px;
            color: $main-color;
            margin-bottom: 10px;
        }

        ul {
            @extend %resetList;

            &:not(.social-media ul) {
                li {
                    margin-bottom: 10px;

                    a {
                        font-family: 'Gilroy Regular';
                        font-size: 15.7px;
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .bg-layer {
        opacity: 0.1;
        background-image: linear-gradient(to bottom, $main-color-0, $main-color);
    }
}

@import "media-queries";