@font-face {
  font-family: "Avenir Book";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/avnir_sv/AvenirLTStd-Book.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Roman";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/avnir_sv/AvenirLTStd-Roman.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Medium";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/avnir_sv/AvenirLTStd-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Axiforma Bold";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/axiforma/Axiforma-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Cera Pro Light";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/cera-pro-sv/Cera-Pro-Light.otf") format("opentype");
}
@font-face {
  font-family: "Cera Pro Regular Italic";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/cera-pro-sv/Cera-Pro-Regular-Italic.otf") format("opentype");
}
@font-face {
  font-family: "Cera Pro Medium";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/cera-pro-sv/Cera-Pro-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Gilroy Regular";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/gilroy-font/Gilroy-Regular.eot"), url("fonts/gilroy-font/Gilroy-Regular.woff") format("woff"), url("fonts/gilroy-font/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy Medium";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/gilroy-font/Gilroy-Medium.eot"), url("fonts/gilroy-font/Gilroy-Medium.woff") format("woff"), url("fonts/gilroy-font/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/gilroy-font/Gilroy-SemiBold.eot"), url("fonts/gilroy-font/Gilroy-SemiBold.woff") format("woff"), url("fonts/gilroy-font/Gilroy-SemiBold.ttf") format("truetype");
}
.bg-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.imgs-box {
  width: fit-content;
  position: relative;
  margin: auto;
}

.ellipse {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 56.4px 175.5px 0 rgba(255, 200, 118, 0.35);
}

footer .footer-grid .social-media ul a, .updates .updates-grid .update .update-bg::after, .home .home-grid .people span.people-num::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer .footer-grid ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header.main-header {
  text-align: center;
}
header.main-header h2 {
  font-family: "Gilroy SemiBold";
  color: #fd5b2f;
  text-transform: uppercase;
}
header.main-header h3 {
  font-family: "Gilroy Medium";
  color: #000;
  margin-bottom: 20px;
}
header.main-header p {
  font-family: "Avenir Roman";
  font-size: 15px;
  font-weight: 500;
  line-height: 2.36;
  color: #000;
}

header.sub-header h4 {
  font-family: "Gilroy Medium";
  font-size: 16.7px;
  color: #000;
}
header.sub-header p {
  font-family: "Avenir Book";
  font-size: 13.6px;
  line-height: 1.84;
  color: #000;
}

button {
  height: 45px;
  font-family: "Gilroy Medium";
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
button:focus-visible {
  outline: none;
}

.main-btn {
  color: #fff;
  background-color: #fd5b2f;
  border: 1px solid #fd5b2f;
  border-radius: 5px;
  text-decoration: none;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.main-btn:hover {
  color: #fd5b2f;
  background-color: transparent;
}

.secondary-btn {
  color: #fd5b2f;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
body .lightblue-bg {
  position: absolute;
  top: 0;
  width: 944px;
  height: 944px;
  filter: blur(50px);
  background-color: #47caf3;
  border-radius: 50%;
  opacity: 0.1;
  right: 0;
  transform: translate(25%, -11%);
}
body .yellow-bg {
  position: absolute;
  top: 0;
  width: 1172px;
  height: 1172px;
  filter: blur(50px);
  background-color: #ffdb80;
  border-radius: 50%;
  opacity: 0.1;
  left: 0;
  transform: translate(-40%, -35%);
}
body .loader {
  height: 100vh;
  background-color: #fff;
  z-index: 9;
  display: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
body .loader.visible {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
body .loader span {
  width: 12px;
  height: 12px;
  background-color: #fd5b2f;
  border-radius: 50%;
  display: inline-block;
  animation: 0.5s ease-in-out 0s infinite alternate both snaking;
}
body .loader span:nth-of-type(2) {
  animation-delay: 0.1s;
}
body .loader span:nth-of-type(3) {
  animation-delay: 0.2s;
}
body .loader span:nth-of-type(4) {
  animation-delay: 0.3s;
}
body .loader span:nth-of-type(5) {
  animation-delay: 0.4s;
}
@keyframes snaking {
  0%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.3;
    transform: translateY(5px);
  }
}

nav.navbar-light .navbar-brand {
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-family: "Cera Pro Medium";
  font-size: 29.3px;
  font-weight: 500;
  color: #000;
}
nav.navbar-light .navbar-toggler:focus {
  box-shadow: none;
}
nav.navbar-light .navbar-nav {
  text-align: center;
}
nav.navbar-light .navbar-nav .nav-link {
  font-family: "Cera Pro Medium";
  font-size: 16.7px;
  text-transform: uppercase;
  color: #686c75;
}

.home .home-grid {
  display: grid;
  grid-template-areas: "h1" "imgs" "city" "people";
  row-gap: 28px;
  margin-top: 4rem;
}
.home .home-grid h1 {
  grid-area: h1;
  font-family: "Axiforma Bold";
  line-height: 1.15;
  text-align: center;
  color: #000;
  position: relative;
}
.home .home-grid h1::before {
  content: url(../images/home/zigzag-border.svg);
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}
.home .home-grid .main-imgs-box {
  grid-area: imgs;
  position: relative;
  margin: auto;
  text-align: center;
}
.home .home-grid .main-imgs-box .main {
  grid-area: main;
  width: 70%;
  background-image: url(../images/home/main-coworking-space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 300px;
  border-top-left-radius: 300px;
  z-index: 1;
}
.home .home-grid .main-imgs-box .ellipse {
  transform: scale(0.5);
}
.home .home-grid .main-imgs-box .ellipse.one {
  right: -15%;
  bottom: 40%;
}
.home .home-grid .main-imgs-box .ellipse.two {
  top: 30%;
  right: 65%;
}
.home .home-grid .main-imgs-box .ellipse.three {
  top: 15%;
  right: 70%;
}
.home .home-grid .main-imgs-box .v-text {
  font-family: "Axiforma Bold";
  font-size: 2rem;
  line-height: 1.31;
  color: #000;
  position: absolute;
  bottom: 0;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  opacity: 0.1;
}
.home .home-grid .city-box {
  grid-area: city;
  width: 100%;
  min-height: 45px;
  background-color: rgba(243, 243, 243, 0.6);
  -webkit-backdrop-filter: blur(35.5px);
  backdrop-filter: blur(35.5px);
  border-radius: 5.2px;
  margin: auto;
  z-index: 3;
  font-family: "Cera Pro Medium";
  font-size: 15px;
  color: #989898;
}
.home .home-grid .city-box .custom-select {
  padding-left: 1rem;
  position: relative;
}
.home .home-grid .city-box .custom-select::before {
  content: "\f3c5";
  position: absolute;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  top: 50%;
  transform: translateY(-50%);
  color: #989898;
}
.home .home-grid .city-box .custom-select select {
  width: 100%;
  font-family: "Cera Pro Medium";
  font-size: 15px;
  color: #989898;
  cursor: pointer;
  background-color: transparent;
  border: none;
  appearance: none;
  padding: 8px 0 8px 24px;
}
.home .home-grid .city-box .custom-select select:focus-visible {
  outline: none;
}
.home .home-grid .city-box .main-btn {
  height: fit-content;
  padding: 0.3rem 0.5rem;
}
.home .home-grid .people {
  grid-area: people;
  text-align: center;
}
.home .home-grid .people img:not(:first-child) {
  margin-left: -12px;
}
.home .home-grid .people span {
  font-family: "Avenir Roman";
}
.home .home-grid .people span.people-num {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #13ded2;
  border: solid 2.1px #fff;
  border-radius: 50%;
  margin-left: -16px;
}
.home .home-grid .people span.people-num::after {
  content: "+10";
  color: #fff;
  font-size: 10.4px;
  font-weight: 900;
}
.home .home-grid .people span.visits {
  display: block;
  font-size: 12.5px;
  color: #000;
  margin-left: 0;
}
.home .brands .grey-border {
  width: 110px;
  height: 24px;
  background-color: #686c75;
}
.home .map-outer {
  position: relative;
  text-align: right;
  height: 300px;
  width: 300px;
}
.home .location-canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 300px;
}
.home > .bg-layer {
  height: 150vh;
  bottom: auto;
}

.services {
  position: relative;
  overflow-x: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.services .services-grid {
  display: grid;
  grid-template-areas: "header" "banner" "buttons";
  row-gap: 1rem;
}
.services .services-grid .imgs-box {
  grid-area: banner;
  width: 75%;
}
.services .services-grid .imgs-box .main {
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 300px;
  border-top-left-radius: 300px;
}
.services .services-grid .imgs-box .calendar {
  position: absolute;
  width: 90px;
  right: -36px;
  bottom: 10px;
  box-shadow: 3.1px 6.3px 20.9px 0 rgba(0, 0, 0, 0.08);
}
.services .services-grid .imgs-box .alarm {
  position: absolute;
  width: 45px;
  right: 30px;
  bottom: 80px;
  border-radius: 50%;
  box-shadow: 3.1px 6.3px 20.9px 0 rgba(0, 0, 0, 0.08);
}
.services .services-grid header.main-header {
  grid-area: header;
}
.services .services-grid .buttons {
  grid-area: buttons;
  text-align: center;
}
.services .services-grid .buttons .secondary-btn i {
  width: 36px;
  height: 36px;
  font-size: 1.5rem;
  border: 1px solid rgba(253, 91, 47, 0.5);
  border-radius: 50%;
  text-align: center;
  padding-top: 4px;
  margin-right: 15px;
}
.services .services-grid .buttons .secondary-btn span {
  display: inline-block;
  transform: translateY(-4px);
}
.services .circles-bg {
  position: absolute;
  min-width: 276px;
  min-height: 372px;
  top: 0;
  right: 0;
  background-image: url(../images/services/circles-bg.svg);
  background-repeat: no-repeat;
}
.services .yellow-bg.left {
  position: absolute;
  top: 50%;
  width: 516px;
  height: 516px;
  filter: blur(50px);
  background-color: #ffdb80;
  border-radius: 50%;
  opacity: 0.1;
  left: 0;
  transform: translate(-25%, -50%);
}
.services .yellow-bg.right {
  position: absolute;
  top: 50%;
  width: 726px;
  height: 726px;
  filter: blur(50px);
  background-color: #ffdb80;
  border-radius: 50%;
  opacity: 0.1;
  left: 50%;
  transform: translate(35%, -50%);
}

.visions {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.visions .vision {
  display: flex;
  padding-bottom: 1rem;
}
.visions .vision i {
  font-size: 1.25rem;
  position: relative;
}
.visions .vision i.one::after {
  content: "";
  width: 15.7px;
  height: 15.7px;
  position: absolute;
  top: 10px;
  left: -5px;
  border-radius: 50%;
  z-index: -1;
  background-color: #fcd25f;
}
.visions .vision i.two::after {
  content: "";
  width: 15.7px;
  height: 15.7px;
  position: absolute;
  top: 10px;
  left: -5px;
  border-radius: 50%;
  z-index: -1;
  background-color: #13ded2;
}
.visions .vision i.three::after {
  content: "";
  width: 15.7px;
  height: 15.7px;
  position: absolute;
  top: 10px;
  left: -5px;
  border-radius: 50%;
  z-index: -1;
  background-color: #1ac8f9;
}
.visions header.sub-header {
  padding-left: 10px;
}
.visions .main-btn {
  margin-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
.visions .pale-bg {
  width: 100%;
  max-width: 445.1px;
  height: 353.1px;
  border-top-left-radius: 146.3px;
  background-color: #fff3c8;
  margin-top: 62px;
  position: relative;
  margin: auto;
}
.visions .pale-bg .ellipse.one {
  transform: scale(0.65) translate(-25%, -45%);
}
.visions .pale-bg .ellipse.two {
  bottom: 30%;
  transform: scale(0.65) translateY(125%);
}
.visions .pale-bg .ellipse.three {
  right: -25%;
  transform: scale(0.65) translateY(50%);
}
.visions .pale-bg .ellipse.four {
  right: 0;
  transform: scale(0.75) translateY(-115%);
}
.visions .bg-layer {
  background-image: url(../images/visions/vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.solutions {
  position: relative;
}
.solutions .carousel-box {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: -50px;
}
.solutions .carousel-box .item {
  height: 500px;
}
.solutions .carousel-box .item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: 5%;
}

.benefits {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.benefits .benefit {
  margin-top: 1rem;
}
.benefits .benefit header.sub-header {
  margin-top: 2rem;
}
.benefits .benefit header.sub-header h4 {
  font-size: 20.9px;
  margin-bottom: 1rem;
}
.benefits .benefit header.sub-header p {
  font-size: 12.5px;
  line-height: 1.99;
}

.gallery {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.gallery .gallery-grid {
  display: grid;
  grid-template-areas: "header header header" "square-1 rect-1 rect-1" "rect-2 rect-2 square-2" "banner banner banner";
  grid-template-rows: repeat(3, auto) minmax(auto, 230px);
  row-gap: 0.6666666667rem;
  column-gap: 0.6666666667rem;
}
.gallery .gallery-grid header.main-header {
  grid-area: header;
  text-align: center;
}
.gallery .gallery-grid .square-1 {
  grid-area: square-1;
}
.gallery .gallery-grid .rectangle-1 {
  grid-area: rect-1;
}
.gallery .gallery-grid .square-2 {
  grid-area: square-2;
}
.gallery .gallery-grid .rectangle-2 {
  grid-area: rect-2;
}
.gallery .gallery-grid .main-space {
  grid-area: banner;
}
.gallery .gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.environment {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.environment .environment-grid {
  display: grid;
  grid-template-areas: "header" "banner" "buttons";
  row-gap: 1rem;
}
.environment .environment-grid header.main-header {
  grid-area: header;
  text-align: center;
}
.environment .environment-grid .buttons {
  grid-area: buttons;
}
.environment .environment-grid .main-banner {
  grid-area: banner;
  width: 50%;
  margin: auto;
}

.updates {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.updates .updates-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 24px;
}
.updates .updates-grid .update {
  width: fit-content;
  background-color: #fffafa;
  display: grid;
  grid-template-areas: "pic" "content";
  justify-items: center;
  margin-top: 48px;
  opacity: 1;
  transition: all 5s ease-in-out;
}
.updates .updates-grid .update.hidden {
  display: none;
  opacity: 0;
}
.updates .updates-grid .update .update-bg {
  width: 191px;
  height: 191px;
  grid-area: pic;
  background-image: url(../images/updates/update.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translateY(-20px);
  position: relative;
}
.updates .updates-grid .update .update-bg::after {
  content: url(../images/updates/Path-1.svg);
}
.updates .updates-grid .update .content {
  grid-area: content;
  padding: 1rem;
}
.updates .updates-grid .update .content header.sub-header h4 {
  font-family: "Gilroy SemiBold";
  font-size: 14px;
  letter-spacing: 0.74px;
  color: #fd5b2f;
  text-transform: uppercase;
}
.updates .updates-grid .update .content header.sub-header h5 {
  font-family: "Gilroy SemiBold";
  font-size: 18.8px;
  letter-spacing: 1px;
  color: #000;
  text-transform: capitalize;
}
.updates .updates-grid .update .content header.sub-header p {
  font-family: "Avenir Roman";
  font-size: 16px;
  line-height: 1.75;
  color: #7a7878;
  transition: all 0.3s ease-in-out;
}
.updates .updates-grid .update .content header.sub-header p.hide-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.updates .updates-grid .update .content .secondary-btn {
  height: fit-content;
  font-family: "Gilroy SemiBold";
  font-size: 16px;
  letter-spacing: 0.85px;
}
.updates .main-btn {
  display: block;
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 3rem auto;
}
.updates .loader {
  width: fit-content;
  height: auto;
  margin: 3rem auto 0;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}
footer .footer-grid {
  display: grid;
  grid-template-areas: "brand brand" "company partnership" "social social";
  column-gap: 0.6666666667rem;
  row-gap: 0.6666666667rem;
  justify-items: center;
  text-align: center;
}
footer .footer-grid .brand {
  grid-area: brand;
}
footer .footer-grid .brand a {
  font-family: "Cera Pro Medium";
  font-size: 29.3px;
  color: #000;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}
footer .footer-grid .brand p {
  font-family: "Gilroy Regular";
  font-size: 16.7px;
  line-height: 1.85;
  color: #000;
}
footer .footer-grid .company {
  grid-area: company;
}
footer .footer-grid .partnership {
  grid-area: partnership;
}
footer .footer-grid .social-media {
  grid-area: social;
}
footer .footer-grid .social-media ul li {
  width: 41.8px;
  height: 41.8px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 7px;
  display: inline-block;
  position: relative;
}
footer .footer-grid .social-media ul a {
  color: #fd5b2f;
}
footer .footer-grid h2 {
  font-family: "Gilroy SemiBold";
  font-size: 20.9px;
  color: #fd5b2f;
  margin-bottom: 10px;
}
footer .footer-grid ul:not(.social-media ul) li {
  margin-bottom: 10px;
}
footer .footer-grid ul:not(.social-media ul) li a {
  font-family: "Gilroy Regular";
  font-size: 15.7px;
  color: #000;
  text-decoration: none;
}
footer .bg-layer {
  opacity: 0.1;
  background-image: linear-gradient(to bottom, rgba(253, 91, 47, 0), #fd5b2f);
}

@media (min-width: 500px) {
  .home .home-grid .main-imgs-box .ellipse {
    transform: scale(0.75);
  }
  .home .home-grid .main-imgs-box .ellipse.one {
    top: -15%;
    right: 16%;
  }
  .home .home-grid .main-imgs-box .ellipse.two {
    top: 30%;
  }
  .home .home-grid .main-imgs-box .ellipse.three {
    top: 15%;
    right: 0;
  }
}
@media (min-width: 640px) {
  .solutions .carousel-box {
    margin-right: -150px;
  }
}
@media (min-width: 768px) {
  header.main-header h2 {
    font-size: 18.8px;
    letter-spacing: 1px;
  }
  header.main-header h3 {
    font-size: 48px;
    line-height: 1.25;
  }

  button {
    height: 56px;
    font-size: 16.7px;
  }

  .home .home-grid .city-box {
    min-height: 60px;
    font-size: 18.8px;
    margin-top: 0;
  }
  .home .home-grid .city-box .custom-select select {
    font-size: 18.8px;
  }

  .visions .pale-bg .ellipse.one {
    transform: scale(0.75) translate(0%, -30%);
  }
  .visions .pale-bg .ellipse.two {
    transform: scale(0.75) translate(20%, 100%);
  }
  .visions .pale-bg .ellipse.three {
    transform: scale(0.75) translateY(40%);
  }
  .visions .pale-bg .ellipse.four {
    transform: scale(0.75) translate(25%, -90%);
  }

  .environment {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .environment .environment-grid {
    grid-template-areas: "header header header" "banner banner ." "banner banner buttons" "banner banner .";
    column-gap: 1rem;
  }
  .environment .environment-grid .main-banner {
    width: 75%;
  }

  .updates .updates-grid .update {
    grid-template-areas: "pic content ";
    grid-template-columns: 191px minmax(auto, 317px);
  }
  .updates .updates-grid .update .update-bg {
    transform: translate(-20px, -30px);
  }
  .updates .updates-grid .update .content {
    padding: 24px 6px 24px 0;
  }

  footer .footer-grid {
    grid-template-areas: "brand company partnership" "social company partnership";
    column-gap: 1rem;
    row-gap: 1rem;
    justify-items: start;
    text-align: start;
  }
  footer .footer-grid ul:not(.social-media ul) li {
    margin-bottom: 20px;
  }
  footer .footer-grid ul:not(.social-media ul) li a {
    font-size: 16.7px;
  }
}
@media (min-width: 992px) {
  header.main-header {
    text-align: start;
  }

  nav.navbar-light .navbar-brand {
    top: auto;
  }

  .home .home-grid {
    grid-template-areas: ". imgs" "h1 imgs" ". imgs" "city imgs" "people imgs";
    grid-template-columns: 39% 61%;
  }
  .home .home-grid h1 {
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 0;
  }
  .home .home-grid .main-imgs-box .ellipse {
    transform: scale(0.75);
  }
  .home .home-grid .main-imgs-box .ellipse.one {
    top: -20%;
    right: 5%;
  }
  .home .home-grid .main-imgs-box .ellipse.two {
    top: 25%;
    right: -5%;
  }
  .home .home-grid .main-imgs-box .ellipse.three {
    right: -5%;
  }
  .home .home-grid .main-imgs-box .v-text {
    font-size: 2.5rem;
  }
  .home .home-grid .city-box {
    width: 160%;
  }
  .home .home-grid .people {
    text-align: start;
  }
  .home .home-grid .people span.visits {
    display: inline;
    margin-left: 20px;
  }

  .services .services-grid {
    grid-template-areas: "banner ." "banner header" "banner ." "banner buttons" "banner .";
    grid-template-columns: 40% 50%;
    column-gap: 7%;
  }
  .services .services-grid .imgs-box {
    width: 100%;
  }
  .services .services-grid .imgs-box .calendar {
    right: -68px;
    bottom: 36px;
  }
  .services .services-grid .imgs-box .alarm {
    right: 18px;
    bottom: 114px;
  }
  .services .services-grid .buttons {
    text-align: start;
  }

  .visions .pale-bg .ellipse.one {
    top: -15%;
    left: 23%;
    transform: translate(0);
  }
  .visions .pale-bg .ellipse.two {
    top: 85%;
    left: 0.5%;
    transform: translate(0);
  }
  .visions .pale-bg .ellipse.three {
    top: 55%;
    left: 80%;
    transform: translate(0);
  }
  .visions .pale-bg .ellipse.four {
    right: 0;
    bottom: 100%;
    transform: translate(0);
  }
  .visions .bg-layer {
    background-position: 35% 75%;
    background-size: auto;
  }

  .solutions .carousel-box {
    margin-right: -200px;
  }
  .solutions .carousel-box .item {
    max-width: 532.8px;
    height: calc(100vh - 32px);
  }

  .gallery .gallery-grid {
    grid-template-areas: "header header header header" "square-1 rect-1 rect-1 banner" "rect-2 rect-2 square-2 banner";
    grid-template-rows: repeat(3, auto);
    row-gap: 1rem;
    column-gap: 1rem;
  }

  .environment .environment-grid {
    grid-template-areas: "header header header banner banner" "header header header banner banner" "header header header banner banner" "buttons buttons buttons banner banner";
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
  }
  .environment .environment-grid header.main-header {
    text-align: start;
  }
  .environment .environment-grid .main-banner {
    width: 100%;
  }

  .updates .updates-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  footer .footer-grid {
    grid-template-areas: "brand company partnership social";
    column-gap: 4rem;
    grid-template-columns: minmax(auto, 300px) repeat(2, auto) minmax(210px, auto);
  }
  footer .footer-grid .brand a,
footer .footer-grid h2 {
    margin-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .home .home-grid {
    column-gap: 2rem;
  }
  .home .home-grid .main-imgs-box {
    text-align: start;
  }
  .home .home-grid .main-imgs-box .ellipse.one {
    top: -15%;
    right: 15%;
  }
  .home .home-grid .main-imgs-box .ellipse.two {
    top: 25%;
    right: 5%;
  }
  .home .home-grid .main-imgs-box .ellipse.three {
    right: 0;
  }
  .home .home-grid .city-box {
    min-height: 100px;
  }
  .home .home-grid .city-box .main-btn {
    height: 56px;
    padding: 0.5rem 1.5rem;
  }
  .home .home-grid h1 {
    font-size: 54px;
  }

  header.main-header h3 {
    font-size: 52.2px;
    line-height: 1.36;
  }

  .gallery .gallery-grid {
    grid-template-areas: "header header header banner" "square-1 rect-1 rect-1 banner" "rect-2 rect-2 square-2 banner";
    row-gap: 2rem;
    column-gap: 2rem;
  }
  .gallery .gallery-grid header.main-header {
    text-align: start;
  }
}
@media (min-width: 1366px) {
  .benefits .benefit {
    flex: 1 0 0%;
    width: auto;
  }
}
@media (min-width: 1440px) {
  .home .home-grid .main-imgs-box .v-text {
    font-size: 51.2px;
    transform: rotate(180deg) translateX(-12.5px);
  }
}

/*# sourceMappingURL=main.css.map */
